.wp-block-file {

	.wp-block-file__button {
		padding: 14px 20px;
		border-radius: 6px;
		background-color: var(--wp--preset--color--primary);
		font-weight: 600;
		color: var(--wp--preset--color--white);
	}
}
