.wp-block-quote,
blockquote {
	border-left: 4px solid var(--wp--preset--color--primary);
	padding-left: 25px;
	margin-left: 0;
	margin-right: 0;

	&.is-style-plain {
		padding-left: 0;
	}

	&.has-text-align-right {
		border-right: 4px solid var(--wp--preset--color--primary);

		&.is-style-plain {
			padding-right: 0;
		}
	}

	p {
		font-size: var(--wp--preset--font-size--x-large);
		line-height: 30px;
		margin-top: 0;
		margin-bottom: 16px;
	}

	.wp-block-quote__citation,
	cite {
		font-size: var(--wp--preset--font-size--large);
	}
}


.wp-block-pullquote blockquote {
	border: none;
	padding-left: 0;
	margin: 0;
}
