.wp-block-search {

	.wp-block-search__input {
		height: 60px;
	}

	&.wp-block-search__button-inside {

		.wp-block-search__inside-wrapper {
			border: 1px solid #d7e1ea;
			border-radius: 4px;
			padding: 6px 12px;
		}

		.wp-block-search__button {

			&.has-icon {
				color: #333;
				background-color: transparent;
				padding: 0;
			}
		}
	}

	.wp-block-search__button {
		padding: 14px 20px;
		border-radius: 6px;
		background-color: var(--wp--preset--color--primary);
		font-weight: 600;
		color: var(--wp--preset--color--white);
		border: none;

		&.has-icon {
			font-size: 20px;
		}
	}
}
