.wp-block-post-content,
.wp-block-comment-content {

	&:after {
		content: "";
		clear: both;
		display: block;
	}

	p {
		margin-bottom: var(--wp--style--block-gap);
	}

	pre {
		border: 1px solid #d7e1ea;
		padding: 12px 16px;
		border-radius: 4px;
		white-space: pre-wrap;
	}

	table {
		margin-bottom: var(--wp--style--block-gap);

		th,
		td {
			padding: 8px;
			border: 1px solid #d7e1ea;
		}
	}

	figure {
		max-width: 100%;
	}
}
