/* Footer */

.footer-widgets {
	color: var(--wp--preset--color--footer-widget-text);
	background-color: #130f40;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.8;

	p,
	.wp-block-calendar table tbody {
		color: var(--wp--preset--color--footer-widget-text);
	}

	a {
		color: var(--wp--preset--color--footer-widget-text);
		font-weight: 500;
		line-height: 1.7;

		&:hover {
			color: var(--wp--preset--color--primary);
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.wp-block-site-title a,
	.wp-block-calendar table th {
		color: var(--wp--preset--color--white);
		font-weight: 700;
	}

	h4,
	.wp-block-site-title,
	.wp-block-site-title a {
		font-size: 20px;
		line-height: 1.4;
		margin-bottom: 15px;
	}

	.wp-block-calendar table th {
		background-color: transparent;
	}

	.wp-block-latest-posts {

		li {

			.wp-block-latest-posts__post-date {
				color: #969cad;
			}
		}
	}

	.wp-block-latest-comments {

		li {

			&:after {
				display: table;
				content: "";
				clear: both;
			}

			.wp-block-latest-comments__comment-meta {

				a {
					font-size: var(--wp--preset--font-size--base);
				}

				.wp-block-latest-comments__comment-date {
					color: #969cad;
				}
			}

			.wp-block-latest-comments__comment-excerpt p {
				color: #969cad;
			}
		}
	}
}
