.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

/* Footer */
.footer-widgets {
  color: var(--wp--preset--color--footer-widget-text);
  background-color: #130f40;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}
.footer-widgets p,
.footer-widgets .wp-block-calendar table tbody {
  color: var(--wp--preset--color--footer-widget-text);
}
.footer-widgets a {
  color: var(--wp--preset--color--footer-widget-text);
  font-weight: 500;
  line-height: 1.7;
}
.footer-widgets a:hover {
  color: var(--wp--preset--color--primary);
}
.footer-widgets h1,
.footer-widgets h2,
.footer-widgets h3,
.footer-widgets h4,
.footer-widgets h5,
.footer-widgets h6,
.footer-widgets .wp-block-site-title a,
.footer-widgets .wp-block-calendar table th {
  color: var(--wp--preset--color--white);
  font-weight: 700;
}
.footer-widgets h4,
.footer-widgets .wp-block-site-title,
.footer-widgets .wp-block-site-title a {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 15px;
}
.footer-widgets .wp-block-categories__list,
.footer-widgets .wp-block-archives-list {
  list-style: none;
  padding-left: 0;
}
.footer-widgets .wp-block-categories__list li,
.footer-widgets .wp-block-archives-list li {
  margin-bottom: 16px;
}
.footer-widgets .wp-block-page-list {
  list-style: none;
  padding-left: 0;
}
.footer-widgets .wp-block-page-list a {
  display: inline-block;
  margin-top: 16px;
}
.footer-widgets .wp-block-page-list ul {
  list-style: none;
  padding-left: 10px;
}
.footer-widgets .wp-block-calendar table th {
  background-color: transparent;
}
.footer-widgets .wp-block-latest-posts li:after {
  display: table;
  content: "";
  clear: both;
}
.footer-widgets .wp-block-latest-posts li:not(:first-child) {
  margin-top: 25px;
}
.footer-widgets .wp-block-latest-posts li a {
  font-size: var(--wp--preset--font-size--base);
  display: inline-block;
  margin-bottom: 8px;
}
.footer-widgets .wp-block-latest-posts li .wp-block-latest-posts__post-date {
  font-size: 12px;
  line-height: 26px;
  color: #969cad;
  margin: 0;
}
.footer-widgets .wp-block-latest-comments li {
  margin-bottom: 0;
}
.footer-widgets .wp-block-latest-comments li:after {
  display: table;
  content: "";
  clear: both;
}
.footer-widgets .wp-block-latest-comments li:not(:first-child) {
  margin-top: 25px;
}
.footer-widgets .wp-block-latest-comments li .wp-block-latest-comments__comment-meta a {
  font-size: var(--wp--preset--font-size--base);
}
.footer-widgets .wp-block-latest-comments li .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
  margin-top: 8px;
  font-size: 12px;
  line-height: 26px;
  color: #969cad;
}
.footer-widgets .wp-block-latest-comments li .wp-block-latest-comments__comment-excerpt p {
  margin-top: 8px;
  font-size: 12px;
  line-height: 26px;
  color: #969cad;
}

.wp-block-query .post-item {
  box-shadow: 0 5px 30px rgba(51, 51, 51, 0.1);
}

.wp-block-query .post-item .wp-block-post-excerpt__more-text {
  margin-bottom: 0;
}

.wp-block-post-excerpt__more-link {
  padding: 14px 20px;
  border-radius: 6px;
  background-color: var(--wp--preset--color--primary);
  font-weight: 600;
  color: var(--wp--preset--color--white);
  margin-top: 15px;
}

.wp-block-query-pagination .wp-block-query-pagination-numbers a,
.wp-block-query-pagination .wp-block-query-pagination-numbers span,
.wp-block-query-pagination .wp-block-query-pagination-previous,
.wp-block-query-pagination .wp-block-query-pagination-next {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 50px;
  font-size: var(--wp--preset--font-size--base);
  display: inline-block;
  text-align: center;
  border: 1px solid #d7e1ea;
  margin: 0 6px;
  color: var(--wp--preset--color--body);
  text-decoration: none;
}

.wp-block-query-pagination .wp-block-query-pagination-previous .wp-block-query-pagination-previous-arrow {
  margin-right: 0;
}

.wp-block-query-pagination .wp-block-query-pagination-next .wp-block-query-pagination-next-arrow {
  margin-left: 0;
}

.wp-block-query-pagination .wp-block-query-pagination-numbers span.current,
.wp-block-query-pagination .wp-block-query-pagination-numbers a:hover,
.wp-block-query-pagination .wp-block-query-pagination-previous:hover,
.wp-block-query-pagination .wp-block-query-pagination-next:hover {
  border-color: var(--wp--preset--color--primary);
  background-color: var(--wp--preset--color--primary);
  color: var(--wp--preset--color--white);
}

.wp-block-query-pagination .wp-block-query-pagination-numbers {
  margin: 0;
}

@media (max-width: 781px) {
  .mesonix-header-top .wp-block-columns > .wp-block-column .wp-block-social-links {
    justify-content: center;
    display: flex;
    float: none;
    margin-left: 0;
  }
  .mobile-text-center {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .mesonix-mainmenu-area .wp-block-columns > .wp-block-column {
    flex-basis: 50% !important;
  }
}
.mesonix-mainmenu-area .wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation__submenu-container {
  padding: 20px;
  border: none;
  box-shadow: 0 0 30px rgba(51, 51, 51, 0.1);
}

.mesonix-mainmenu-area .wp-block-navigation .wp-block-navigation__container .wp-block-navigation-item .wp-block-navigation__submenu-container .wp-block-navigation-item .wp-block-navigation-item__content {
  font-weight: 600;
  font-size: 15px;
}

/*# sourceMappingURL=mesonix.css.map */
