<!-- wp:template-part {"slug":"header","theme":"beli"} /-->

<!-- wp:cover {"dimRatio":80,"customOverlayColor":"#00001f","minHeight":300,"align":"full","className":"mt-0","style":{"spacing":{"padding":{"top":"100px","right":"90px","bottom":"100px","left":"90px"}}}} -->
<div class="wp-block-cover alignfull mt-0 page-header" style="padding-top:100px;padding-right:90px;padding-bottom:100px;padding-left:90px;min-height:300px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-80 has-background-dim" style="background-color:#00001f"></span><div class="wp-block-cover__inner-container"><!-- wp:group -->
	<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1} -->
		<h1 class="has-text-align-center">Not Found</h1>
		<!-- /wp:heading --></div>
	<!-- /wp:group --></div></div>
<!-- /wp:cover -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"150px","bottom":"150px"}}},"className":"mt-0","layout":{"inherit":false}} -->
<main class="wp-block-group mt-0" style="padding-top:150px;padding-bottom:150px">
	<!-- wp:pattern {"slug":"beli/not-found"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"beli","className":"mt-0"} /-->
